{% extends 'list.html' %}

{% block columns %}
    <thead>
        <tr>
            <th scope="">Nro</th>
            <th scope="">Nombre</th>
            <th scope="">Opciones</th>
        </tr>
    </thead>
{% endblock %}

{% block rows %}
   {% for category in categories %}
        <tr>
            <td>{{category.id}}</td>
            <td>{{category.name }}</td>
            <td>
                <button type="button" class="btn btn-xs btn-warning"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-xs btn-secondary"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}



